<nav role="navigation" class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="" class="navbar-brand">
        <img src="@(Model.PublicUrl)images/razor-to-cut-hairs.svg" width="35" height="35" />
            razorpages-simple-app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
        <div class="mr-auto navbar-nav">
            <a href="" data-rb-event-key="" class="nav-link">Home</a>
            <a href="about@(Model.ExtFile)" data-rb-event-key="about@(Model.ExtFile)" class="nav-link">About Us</a>
            <a href="contact@(Model.ExtFile)" data-rb-event-key="contact@(Model.ExtFile)" class="nav-link">Contact Us</a>
        </div>
    </div>
</nav>
